@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
.form-contact-wrapper {
  font-family: "Raleway", sans-serif;
}
.form-contact-wrapper h2 {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -1px;
  color: #757575;
}
.form-contact-wrapper form {
  max-width: 50%;
  margin: auto;
}
.form-contact-wrapper form > div {
  position: relative;
}
.form-contact-wrapper form > div i {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.form-contact-wrapper form > div i.fa-asterisk {
  right: 8px;
  left: auto;
  bottom: 14px;
  font-size: 7px;
  color: #ec0b0b;
}
.form-contact-wrapper form .form-label {
  font-weight: bold;
}
.form-contact-wrapper form .form-control {
  padding-left: 30px;
}
.form-contact-wrapper form .message-wrapper i {
  top: 45px;
  bottom: auto;
}
.form-contact-wrapper form textarea {
  resize: none;
}
.form-contact-wrapper form button[type=submit] {
  position: relative;
  padding-left: 35px;
}